:root {
	--font-sans: 'Poppins', sans-serif;
	--c-text: #e3e3e3;
	--c-text-muted: #878585;
	--c-green: #05ff00;
	--c-light-green: #89fa86;
	--c-grey: #4a4a4a;
	--c-dark-grey: #2f2f2f;
	--c-background: #1b1b1b;
	--c-dark: #0f0f0f;
	--border-thin: 1px solid var(--c-grey);
	--border-thick: 2px solid var(--c-grey);
	--border-r: 3px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	color: var(--c-text);
	font-family: var(--font-sans);
}

body {
	font-weight: 400;
	min-height: 100vh;
	background-color: var(--c-background);
}

a {
	color: var(--c-text);
	transition: color 100ms ease;

	&:hover {
		color: var(--c-green);
	}
}

button,
input {
	padding: 3px;
	background: var(--c-dark);
	border: var(--border-thin);
	border-radius: var(--border-r);
	transition: all 100ms ease;
	display: flex;
	justify-content: center;
	align-items: center;
	& > * {
		color: var(--c-text-muted);
	}
	&:hover {
		border-color: var(--c-text-muted);
		& > * {
			color: var(--c-text);
		}
	}
}
input {
	font-size: 10px;
}
button {
	cursor: pointer;
}
.square {
	aspect-ratio: 1;
}

.button-submit {
	min-width: 160px;
	margin: 3px 0;
	font-size: 15px;
	font-weight: 500;
	background: var(--c-green);
	color: var(--c-dark);
	padding: 3px;
	border: var(--border-thick);
	border-color: var(--c-green);
	&:hover {
		margin: 0;
		border-color: var(--c-light-green);
		background: var(--c-light-green);
		font-weight: 600;
		padding: 3px 1px;
		border-width: 5px;
	}
}

// phosphor icon styles
.ph-xl {
	font-size: 2em;
}
